#connexion {
  margin-left: 700px;
  margin-top: 50px;
  margin-right: 200px
   
  }
  #connexion h2 {
      
     color: #4079A4;
     font-weight: bold;

  }
  aside {
    float: left;
    margin-left: 80px;
    width: 400px;
    height: 400px;
    margin-top: 70px;
}
